.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 600px;
}

.row {
    padding: 14px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rowLeft {
    display: flex;
    align-items: center;
    gap: 12px;
}

.keyValue {
    color: var(--g-color-text-secondary);
}

.rowActions {
    display: flex;
    gap: 4px;
}
